/* Apply global styles using our custom Tailwind colors.
  We use the 'dark:' variant to automatically switch based on the <html> class.
*/
:host {
  display: block;
  min-height: 100vh;

  @apply bg-bg-light text-text-primary-light;
  @apply dark:bg-bg-dark dark:text-text-primary-dark;
}